---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/TWILIO_ACCOUNT_SID/Messages.json
    body:
      encoding: UTF-8
      string: Body=Your+six+digit+code%3A+152929&From=TWILIO_PHONE_NUMBER&To=%2B48123456789
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNiNjRhMzYwMWM5NDUwMjFkYzU4NjRiY2ZmOGM5MTcxZTpkMzVhNTI4Mzg3YTIwMmM2NTdkNjU4M2I4M2IxNTdhYQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ011523b91339e538e99f309d646828e5
      Twilio-Request-Duration:
      - '0.133'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"body": "Sent from your Twilio trial account - Your six digit code:
        152929", "num_segments": "1", "direction": "outbound-api", "from": "TWILIO_PHONE_NUMBER",
        "date_updated": "Sun, 10 Sep 2023 12:13:10 +0000", "price": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/TWILIO_ACCOUNT_SID/Messages/SM011523b91339e538e99f309d646828e5.json",
        "account_sid": "TWILIO_ACCOUNT_SID", "num_media": "0", "to":
        "+48123456789", "date_created": "Sun, 10 Sep 2023 12:13:10 +0000", "status":
        "queued", "sid": "SM011523b91339e538e99f309d646828e5", "date_sent": null,
        "messaging_service_sid": null, "error_code": null, "price_unit": "USD", "api_version":
        "2010-04-01", "subresource_uris": {"media": "/2010-04-01/Accounts/TWILIO_ACCOUNT_SID/Messages/SM011523b91339e538e99f309d646828e5/Media.json"}}'
  recorded_at: Sun, 10 Sep 2023 12:13:10 GMT
recorded_with: VCR 6.2.0
