---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/TWILIO_ACCOUNT_SID/Messages.json
    body:
      encoding: UTF-8
      string: Body=Your+six+digit+code%3A+750856&From=TWILIO_PHONE_NUMBER&To
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNiNjRhMzYwMWM5NDUwMjFkYzU4NjRiY2ZmOGM5MTcxZTpkMzVhNTI4Mzg3YTIwMmM2NTdkNjU4M2I4M2IxNTdhYQ==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ9ccec9c186da5173d7ae6986150a40f9
      Twilio-Request-Duration:
      - '0.015'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21604, "message": "A ''To'' phone number is required.", "more_info":
        "https://www.twilio.com/docs/errors/21604", "status": 400}'
  recorded_at: Sun, 10 Sep 2023 12:03:24 GMT
recorded_with: VCR 6.2.0
